<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Richard Ashby", "http://www.ashbytech.co.uk", class: "text-white" %></small>
  </div>
</footer>